





body{
     background: black;
}
.container{
    width: 1000px;
    margin: 0 auto;
}
.text h2{
    color: #434343;
    background: darkgreen;
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    font-family: Open Sans, sans-serif;
    font-size: 48px;
    font-weight: 800;
    text-transform: uppercase;
}
.heart h2{
    color: #434343;
    background: green;
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    font-family: Open Sans, sans-serif;
    font-size: 48px;
    font-weight: 800;
    text-transform: uppercase;
}
.love{
    color: red;
    width: 900px;
    height: 900px;
    position: absolute;
    margin-left: 940px;
    margin-top: -650px;
}